<h1 mat-dialog-title>Edit Configuration</h1>
<div mat-dialog-content>
    <form [formGroup]="configForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Configuration Name</mat-label>
                <input matInput formControlName="configName">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Desired Moisture Level</mat-label>
                <input matInput formControlName="desiredMoistureLevel">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Desired Light Level</mat-label>
                <input matInput formControlName="desiredLightLevel">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Plant Type</mat-label>
                <mat-select formControlName="plantType">
                    <mat-option *ngFor="let type of plantTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Pot Size</mat-label>
                <mat-select formControlName="potSize">
                    <mat-option *ngFor="let size of potSizes" [value]="size">
                        {{size}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="onSaveChangesClicked()">Save Changes</button>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="onActiveConfigClicked()">Make Active Config</button>
    </div>

</div>