<h1 mat-dialog-title>Edit Configuration</h1>
<div mat-dialog-content>
    <form class="example-form">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Configuration Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Desired Moisture Level</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Desired Light Level</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Plant Type</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Pot Size</mat-label>
            <input matInput>
        </mat-form-field>
    </form>

</div>