<table mat-table [dataSource]="userConfigs" class="mat-elevation-z8 config-grid">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="configName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.configName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="desiredMoistureLevel">
      <th mat-header-cell *matHeaderCellDef> Moisture Level </th>
      <td mat-cell *matCellDef="let element"> {{element.desiredMoistureLevel}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="desiredLightLevel">
      <th mat-header-cell *matHeaderCellDef> Light Level </th>
      <td mat-cell *matCellDef="let element"> {{element.desiredLightLevel}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="plantType">
      <th mat-header-cell *matHeaderCellDef> Plant Type </th>
      <td mat-cell *matCellDef="let element"> {{element.plantType}} </td>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="potSize">
        <th mat-header-cell *matHeaderCellDef> Pot Size </th>
        <td mat-cell *matCellDef="let element"> {{element.potSize}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  